.welcome_heading {
  font-size: 24px;
  line-height: 36px;
  text-align: center;
  color: #d44b5d;
  margin: 25px 0;
}

.forgotpasswordvalidation_wrapper .fgt {
  font-weight: 500;
  color: #000000;
  margin-bottom: 30px;
}

#fgpv {
  margin-top: 15px;
}
